# Telegram Bot Token (получите у @BotFather)
BOT_TOKEN=8634190937:AAGcF79rcM3eHODTNw5GB0RRtUeiB56xy0o


# Список ID администраторов через запятую (например: 123456789,987654321)
ADMIN_IDS=5216240996

# (Опционально) Для хранения данных можно использовать Vercel KV
# KV_REST_API_URL=
# KV_REST_API_TOKEN=